:host {
  padding: 10px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.text-label {
  margin-right: 8px;
}

.text {
  padding: 8px 12px;
  background: #d1efd1;
  border-radius: 8px;
  margin-right: 8px;
  max-height: 2em;
  overflow: hidden;
  overflow-wrap: break-word;
  flex: 1;
}

@media screen and (max-width: 640px) {
  :host {
    padding: 10px 4px;
    flex-direction: column;
  }

  .text {
    margin-right: 0;
    margin-bottom: 8px;
    max-width: 90%;
    padding: 8px;
  }
}
