<div class="fields">
  <mat-form-field>
    <input (input)="onInputChange()" matInput [(ngModel)]="one">
  </mat-form-field>

  <mat-form-field>
    <input (input)="onInputChange()" matInput [(ngModel)]="two">
  </mat-form-field>

  <button *ngIf="isChanged" mat-raised-button color="accent" (click)="saveItem()">{{strings.get().itemSave}}</button>

</div>
<button mat-mini-fab mat-raised-button color="warn" (click)="remove()" matTooltip="{{strings.get().itemBtRemove}}">
  <mat-icon>delete</mat-icon>
</button>
