.mat-form-field {
  margin-right: 32px;
}

.fields button {
  margin-right: 32px;
}

.mat-form-field:last-of-type {
}

.fields {
  align-items: center;
}

:host {
  display: flex;
}


@media screen and (max-width: 640px) {
  .mat-form-field {
    margin-right: 12px;
    max-width: 35%;
  }

  .fields button {
    margin-right: 12px;
  }

  .mat-form-field:last-of-type {
    margin-right: 8px;
  }

}
